  ipykernel
  numpy
  scipy
  xarray
  pandas
  matplotlib
  notebook
  bmipy
  pymt >=1.3
  landlab >=2.5
  terrainbento
  pymt_cem
  pymt_child
  pymt_hydrotrend
  pymt_sedflux
  bmi-topography
  bmi-geotiff
  imageio
  tqdm
  numba
  scikit-image
  pillow
  cartopy
